@keyframes appearFromSides {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
};

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #F6F6F6;


.Wrapper {
  display: flex;
  align-content: center;
  text-align: left;
  width: 808px;
  height: 483px;
  background-color: #fff;
  padding: 24px;
  border-radius: 4px;
  box-shadow: 0px 2px 2px #00000033;
  flex-direction: column;

  animation: appearFromSides 1s;

  svg {
    vertical-align: middle;
  }
  .cardHeader {
    display: flex;
    flex-direction: row;
    height: 66px;
    border-bottom: 1px solid #dadada;
    margin-bottom: 24px;
    justify-content: space-between;
    .textHeader {
      justify-self: center;
      align-self: center;
    }
    .templateButton {
      button{
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 2px 2px #00000033;
        border: 2px solid #FFD95A;
        border-radius: 4px;
        height: 40px;
        width: 144px;
        text-align: center;
        font: normal normal bold 14px/19px Open Sans;
        letter-spacing: 0.22px;
        color: #4C4C4C;
      }

    }
    h4 {
      text-align: left;
      font: normal normal bold 16px/22px Open Sans;
      letter-spacing: 0.26px;
      color: #4C4C4C;
      margin-bottom: 16px;
      span {
        text-align: left;
        font: normal normal normal 14px/19px Open Sans;
        letter-spacing: 0.22px;
        color: #4C4C4C;
      }
    }


  }

  .typeWrapper {
    height: 145px;
    display: flex;
    flex-direction: column;

    .typeHeader {
      display: flex;
      font: normal normal bold 14px/19px Open Sans;
      letter-spacing: 0.22px;
      color: #828282;
      margin-bottom: 16px;
      svg {
        margin-right: 16px;
      }
    }


    .typesContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .type {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 368px;
        height: 67px;
        border-radius: 4px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 2px dashed #FFD95A;
        border-radius: 4px;
        text-align: center;

        a{
          display: flex;
          border: 0;
          background-color: #fff;
          width: 368px;
          height: 67px;
          transition: background-color 0.3s;
          font: normal normal bold 14px/19px Open Sans;
          letter-spacing: 0.22px;
          color: #828282;
          text-decoration: none;
          align-items: center;
          justify-content: center;
          text-align: center;
        }
        a:hover{
          background-color: #FFD95A;
        }
      }
    }
  }
  .contractWrapper {
    height: 70px;
    display: flex;
    flex-direction: column;

    .contractHeader {
      display: flex;
      font: normal normal bold 14px/19px Open Sans;
      letter-spacing: 0.22px;
      color: #828282;
      margin-bottom: 16px;
      svg {
        margin-right: 16px;
      }
    }
  }

  .cardBody {
    height: 205px;
    border-bottom: 1px solid #dadada;
    h4 {
      text-align: left;
      font: normal normal bold 14px/19px Open Sans;
      letter-spacing: 0.22px;
      color: #828282;
      padding-bottom: 19px;
    }

    .smartContracts {
      height: 135px;
      display: flex;
      border-top: 1px solid #dadada;
      span {
        text-align: left;
        font: normal normal normal 14px/19px Open Sans;
        letter-spacing: 0.22px;
        color: #828282;
        margin-top: 16px;
      }

      .affiliateForm {
        display: inline-flex;
      }
    }
  }

  .cardContractBody {
    height: 265px;
    border-bottom: 1px solid #dadada;
    h4 {
      text-align: left;
      font: normal normal bold 14px/19px Open Sans;
      letter-spacing: 0.22px;
      color: #828282;
      padding-bottom: 19px;
    }

    .smartContracts {
      height: 135px;
      display: flex;
      border-top: 1px solid #dadada;
      span {
        text-align: left;
        font: normal normal normal 14px/19px Open Sans;
        letter-spacing: 0.22px;
        color: #828282;
        margin-top: 16px;
      }

      .affiliateForm {
        display: inline-flex;

        input {
          width: 114px;
          height: 40px;
          background: #FFFFFF 0% 0% no-repeat padding-box;
          border: 1px solid #ADADAD;
          border-radius: 4px;
                  }

        select {
          width: 442px;
          height: 40px;
          background: none;
          border: 1px solid #CCCCCC;
          border-radius: 4px;
          color: #828282;

          option:disabled {
            display: none;
          }

        }
      }
    }
  }

  .cardFooter {
    display: flex;
    height: 54px;
    justify-content: space-between;

    .backButton {
      display: flex;
      height: 40px;
      justify-content: center;
      align-content: center;
      align-items: center;
      padding: 8px 16px 10px;
      text-align: center;
      button {
        font: normal normal bold 16px/22px Open Sans;
        letter-spacing: 0.26px;
        color: #4C4C4C;
        border: 0;
        background-color: #fff;
      }

    }

    .saveAndSubmit {

      .saveButton{
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 2px 2px #00000033;
        border: 2px solid #FFD95A;
        border-radius: 4px;
        height: 40px;
        width: 110px;
        text-align: center;
        font: normal normal bold 14px/19px Open Sans;
        letter-spacing: 0.22px;
        color: #4C4C4C;
        margin-top: 10px;
      }
      .skipButton{
        background: #FFD95A 0% 0% no-repeat padding-box;
        box-shadow: 0px 2px 2px #00000033;
        border: 2px solid #FFD95A;
        border-radius: 4px;
        height: 40px;
        width: 164px;
        margin-left: 24px;
        button{
          margin-top: 20px;
          text-align: center;
          font: normal normal bold 16px/22px Open Sans;
          letter-spacing: 0.26px;
          color: #4C4C4C;
        }
      }
    }
  }

  .cardContractFooter {
    display: flex;
    height: 54px;
    justify-content: space-between;

    .backButton {
      display: flex;
      height: 40px;
      justify-content: center;
      align-content: center;
      align-items: center;
      padding: 8px 16px 10px;
      text-align: center;
      a {
        font: normal normal bold 16px/22px Open Sans;
        letter-spacing: 0.26px;
        color: #4C4C4C;
        border: 0;
        background-color: #fff;
      }

    }

    .saveAndSubmit {
      button{
        background: #FFD95A 0% 0% no-repeat padding-box;
        box-shadow: 0px 2px 2px #00000033;
        border: 2px solid #FFD95A;
        border-radius: 4px;
        height: 40px;
        width: 164px;
        margin-left: 24px;
        text-align: center;
        font: normal normal bold 16px/22px Open Sans;
        letter-spacing: 0.26px;
        color: #4C4C4C;
        margin-top: 10px;

        animation: background-color 3s;

        &:disabled {
          border: grey;
          background: #EFEFEF 0% 0% no-repeat padding-box;
          color: #ADADAD;
        }
       }
     }
    }
  }
}
